<div layout="column" layout-align="space-around center" style="background-color: white;width:auto; height: calc(100%-80px); padding-top: 20px">
    <a class="menu-item" layout="column" layout-align="space-around center" ng-repeat="item in $ctrl.menuItems"
        ui-sref-active="menu-item-active" ui-sref="{{item.link}}">
        <i md-colors="{color:'grey-400'}" class="{{item.icon}} mar-lr"></i>
        <span style="font-weight:600; font-size: 12px" md-colors="{color:'grey-400'}" class="mar-t mar-lr">{{item.title}}</span>
    </a>
</div>