<div layout="column" layout-align="space-around center" layout-padding ng-if="genOTP">
    <form name="resetForm">
        <md-input-container style="margin-bottom: unset; padding: unset;">
            <label>Enter Employee Id</label>
            <input type="text" name="empId" ng-model="empId" autofocus style="font-weight:600;" md-no-asterisk required pattern="^[0-9]+$">
            <div ng-messages="resetForm.empId.$error">
                <div ng-message="required">Employee id is required!</div>
                <div ng-message="pattern">Employee id can only have numbers.</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-align="space-around center">
        <md-button md-colors="{color: 'purple'}" ng-click="sendOTP(empId)">Send OTP</md-button>
        <md-button md-colors="{color: 'grey'}" ng-click="hide()">Cancel</md-button>
    </div>
    <strong>{{message}}</strong>
</div>


<div layout="column" layout-align="space-around center" layout-padding ng-if="resetPassword">
    <form name="resetForm">
        <md-input-container style="margin-bottom: unset; padding: unset;">
            <label>Enter OTP</label>
            <input type="text" name="otp" ng-model="OTP" autofocus style="font-weight:600;" md-no-asterisk required pattern="^[0-9]+$">
            <div ng-messages="resetForm.otp.$error">
                <div ng-message="required">OTP is required!</div>
                <div ng-message="pattern">OTP can only have numbers.</div>
            </div>
        </md-input-container>
        <md-input-container style="margin-bottom: unset; padding: unset;">
            <label>Enter Password</label>
            <input type="text" name="password" ng-model="password" autofocus style="font-weight:600;" md-no-asterisk required>
            <div ng-messages="resetForm.password.$error">
                <div ng-message="required">Password is required!</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-align="space-around center">
        <md-button md-colors="{color: 'purple'}" ng-click="changePassword(OTP,password)">Reset Password</md-button>
        <md-button md-colors="{color: 'grey'}" ng-click="hide()">Cancel</md-button>
    </div>
    <strong>{{message}}</strong>
</div>