<div style="min-width:300px; max-height: 450px; overflow-y: auto">
    <form layout="column" layout-padding name="timesheetForm" ng-submit="answer($event)">
        <h3 style="text-align:center">Task Details</h3>
        <md-input-container style="margin-bottom:unset; padding:unset;">
            <label>Task Date</label>
            <md-datepicker ng-model="date" md-placeholder="Enter date" disabled></md-datepicker>
        </md-input-container>

        <md-input-container>
            <label>Task Name</label>
            <input name="taskName" ng-model="timesheet.taskName" type="text" style="font-weight:600;" required
                md-no-asterisk>
            <div ng-messages="timesheetForm.taskName.$error">
                <div ng-message="required">Task name is required!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Swipe in time (24-hours)</label>
            <input type="time" name="swipeIn" ng-model="timesheet.swipeIn" placeholder="HH:mm" min="00:00" max="23:59"
                required md-no-asterisk />
            <div ng-messages="timesheetForm.swipeIn.$error">
                <div ng-message="required">Swipe in time is required!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Swipe Out time (24-hours)</label>
            <input type="time" name="swipeOut" ng-model="timesheet.swipeOut" placeholder="HH:mm" min="00:00" max="23:59"
                required md-no-asterisk />
            <div ng-messages="timesheetForm.swipeOut.$error">
                <div ng-message="required">Swipe Out time is required!</div>
            </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary mar-t">
            Add Task
        </md-button>
    </form>
</div>