<form name="complaintForm" ng-submit="$ctrl.addComplaint()" layout-padding md-whiteframe="10" style="margin: 15px; border-radius:5px; background-color: #ffffff;">

    <div class="complaintForm-container">
        <md-input-container>
            <label>Complaint Type</label>
            <md-select ng-model="$ctrl.complaint.complaintsType">
                <md-option ng-repeat="issue in ['Service', 'Techinal', 'Personal']" value="{{issue}}">
                    {{issue}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="complaintForm-container">
        <md-input-container class="md-block">
            <label>Complaint Description</label>
            <textarea ng-model="$ctrl.complaint.complaintDescription" md-maxlength="100" rows="3" required></textarea>
            <div ng-messages="complaintForm.complaintDescription.$error">
                <div ng-message="required">Complaint Description is required!</div>
            </div>
        </md-input-container>
    </div>

    <div style="display: flex; justify-content: flex-end">
        <md-button ng-click="addComplaints()" ng-disabled="$ctrl.isloading" type="submit" md-colors="{'color':'purple'}">
            <md-progress-circular class="mar-r" ng-if="$ctrl.isloading" class="md-accent" md-diameter="20"></md-progress-circular>Submit
            Complaint
        </md-button>
    </div>

</form>

<div layout="column" layout-padding>
    <h4>Past Complaints</h4>
    <nav>

    </nav>
</div>