<div style="background-color:#ffffff; width: auto; height: calc(100% - 60px); margin:15px">
    <div layout="row" layout-align="space-around" style="width: 900px; margin: 0 auto;">
        <div id="home-timesheet" style="width: 350px; height: 300px" md-whiteframe="6">

        </div>
        <div id="home-announcement" style="width: 350px; height: 300px" md-whiteframe="6">

        </div>
    </div>
    <div layout="row" layout-align="space-around">
        <div id="home-leaves" style="width: 350px; height: 200px" md-whiteframe="6">

        </div>
        <div id="home-complaints" style="width: 350px; height: 200px" md-whiteframe="6">

        </div>
    </div>
</div>