<div layout="column" layout-align="space-around">
    <nav layout="row" layout-padding>
        <a ui-sref="home" style="color: black; border-radius: 16px" md-whiteframe="8"><i class="fas fa-arrow-left"></i><span
                class="mar-lr"><strong>Home</strong></span></a>
    </nav>
    <div layout="row" layout-padding layout-align="end">
        <strong style="color:#9E9E9E">Total hours worked:</strong><span style="background: #1A237E; border-radius: 5px;font-weight: 700;color: white;">54.00</span>
    </div>
    <div layout="row" layout-align="space-between" layout-padding>
        <div id="cal" style="width:27%; max-width: 364px; min-width: 320px;">
            <div class="header">
                <span class="left button" id="prev"> <i class="fas fa-chevron-right"></i> </span>
                <span class="month-year" id="label"> June 20&0 </span>
                <span class="right button" id="next"> <i class="fas fa-chevron-right"></i> </span>
            </div>
            <table id="days">
                <td ng-repeat="day in $ctrl.dayNames">{{day}}</td>
            </table>
            <div id="cal-frame">
                <table class="curr">
                    <tbody>
                        <tr>
                            <td class="nil"></td>
                            <td class="nil"></td>
                            <td ng-click="$ctrl.addTask($event)">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td class="today">11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td class="nil"></td>
                            <td class="nil"></td>
                            <td class="nil"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="timesheet-details" style="width:67%; border-radius: 5px;" md-whiteframe="5">
            <table style="width:100%">
                <thead>
                    <th>Sr. No.</th>
                    <th>Task Name</th>
                    <th>Swipe In</th>
                    <th>Swipe Out</th>
                    <th>Total Hours</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Project</td>
                        <td>10:15 AM</td>
                        <td>08:00 PM</td>
                        <td>09:45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin: 15px; max-width:500px; max-height: 350px; border-radius: 5px;" md-whiteframe="5" layout-padding>
        <canvas id="bar" class="chart chart-bar" chart-data="$ctrl.data" chart-labels="$ctrl.dayNames" chart-series="$ctrl.series">
        </canvas>
    </div>
</div>