<div layout="row">
    <md-input-container>
        <label>First Name</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container>
        <label>Middle Name</label>
        <input ng-model="user.middleName">
    </md-input-container>
    <md-input-container>
        <label>Last Name</label>
        <input ng-model="user.lastName">
    </md-input-container>
</div>

<md-input-container>
    <label>Blood Group</label>
    <md-select ng-model="user.bloodGroup">
        <md-option ng-repeat="bloodGroup in ['A+', 'A-', 'AB+', 'AB-', 'O+', 'O-', 'B+', 'B-']" value="{{bloodGroup}}">
            {{bloodGroup}}
        </md-option>
    </md-select>
</md-input-container>

<md-input-container class="md-block">
    <label>Address</label>
    <input ng-model="user.address">
</md-input-container>

<md-input-container md-no-float class="md-block">
    <input ng-model="user.address2" placeholder="Address 2">
</md-input-container>

<div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>City</label>
        <input ng-model="user.city">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>State</label>
        <input ng-model="user.state">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Postal Code</label>
        <input name="postalCode" ng-model="user.postalCode" placeholder="123456" required ng-pattern="/^[0-9]{5}[0-9]?$/" md-maxlength="6">

        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required">You must supply a postal code.</div>
            <div ng-message="pattern">That doesn't look like a valid postal code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
                You have exceeded max length.
            </div>
        </div>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
        />

        <div ng-messages="user.email.$error" role="alert">
            <div ng-message="required">Email is required.</div>
            <div ng-message-exp="['minlength', 'maxlength']">Your email must be between 10 and 100 characters long.</div>
            <div ng-message="pattern">
                Your email must be a valid e-mail address.
            </div>
        </div>
    </md-input-container>
</div>