<md-list ng-if="$ctrl.announcementList.length > 0" layout-padding flex style="width: 100%; max-width:500px; max-height: 300px; overflow-y: auto"
    md-whiteframe="10" style="background: #ffffff; border-radius: 5px">
    <md-list-item style="display:flex; align-items: center" class="md-3-line md-long-text" ng-repeat="item in $ctrl.announcementList">

        <div style="margin:unset;" class="md-list-item-text" layout="column">
            <div layout="row" layout-align="space-between center">
                <h3>{{ item.announcementTitle }}</h3>
                <span style="color:grey; font-size:13px">{{item.announcementDate | date: 'dd-MM-yy'}}</span>
            </div>
            <p>{{ item.announcementBody }}</p>
        </div>
        <md-button ng-if="$ctrl.delete" class="md-warn" style="position:absolute; bottom:0; right:0" ng-click="$ctrl.deleteAnnouncement(item.announcementId)">Delete</md-button>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>

<div layout="row" layout-align="center center" ng-if="$ctrl.announcementList.length === 0" style="width: 100%; height: 300px; background-color: #ffffff; border-radius: 5px"
    md-whiteframe="10">
    <strong md-colors="{color: 'grey'}">No Anouncements available</strong>
</div>