<div id="cal">
    <div class="header">
        <span class="left button" id="prev" ng-click="previous()">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="month-year" id="label">{{month.format("MMMM, YYYY")}}</span>
        <span class="right button" id="next" ng-click="next()">
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
    <table id="days">
        <td class="day">Sun</td>
        <td class="day">Mon</td>
        <td class="day">Tue</td>
        <td class="day">Wed</td>
        <td class="day">Thu</td>
        <td class="day">Fri</td>
        <td class="day">Sat</td>
    </table>
    <div style="margin: 2px 0; padding: 5px; border-radius: 20px; position: relative" class="week hoverable" ng-repeat="week in weeks">
        <i md-whiteframe="3" ng-click="getWeek(week.days)" style="position: absolute; padding: 10px 13px; background: white; border-radius: 50%;left: -20px; cursor: pointer; display: none;"
            class="fas fa-info"></i>
        <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"
            ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
    </div>
</div>