<div style="background-color:white;height: 80px;box-sizing: border-box;" layout="row" layout-align="space-between center"
    layout-padding>
    <h2>e<span md-colors="{color:'pink-900'}">FOCUS</span></h2>
    <div layout="row" layout-padding layout-align="space-between center">
        <md-button class="md-icon-button mar-lr" aria-label="notification">
            <md-tooltip md-direction="bottom">Notification</md-tooltip>
            <i class="far fa-bell fa-2x"></i>
        </md-button>

        <div class="mar-lr" md-whiteframe="18" layout="row" layout-align="space-around center" style="min-width:60px; border-radius:30px; box-sizing: border-box; padding: 5px; cursor: pointer;">
            <i style="padding:10px; border-radius: 50%; background-color: #eeeeee" class="fas fa-user"></i>
            <span class="mar-lr"><strong>Sam David</strong></span>
            <i class="fas fa-angle-down mar-lr"></i>
        </div>
    </div>
</div>