<div ng-if="$ctrl.employee.empId">
    <div layout="row" style="width: 100%; height: 100px; position:relative; background:#eee; margin-top:3px;">
        <div md-whiteframe="2" style="width: 100px; height: 100px; position: absolute; top: 50px; left: 30px; border-radius: 50%; background: #fff;">

        </div>
        <div style="position: absolute;left: 30%;top: 27px;">
            <h4 style="margin:unset">{{$ctrl.employee.firstName + ' ' + $ctrl.employee.lastName}}</h4>
            <h5 style="margin: 10px 0">{{$ctrl.employee.email}}</h5>
        </div>
        <md-menu ng-if="$ctrl.view">
            <md-button class="md-icon-button mar-lr" aria-label="action" style="position: absolute;right: 0;" ng-click="$mdMenu.open()">
                <md-tooltip md-direction="left">Action</md-tooltip>
                <i class="fas fa-ellipsis-v"></i>
            </md-button>

            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-click="$ctrl.deleteEmployee()">
                        Delete
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="null">
                        Update
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button layout="row" layout-align="center center" ng-if="!$ctrl.view" class="md-icon-button mar-lr"
            aria-label="home" style="position: absolute;left: 0;" ui-sref="home({empId:$ctrl.employee.empId})">
            <md-tooltip md-direction="right">back to home</md-tooltip>
            <i class="fas fa-arrow-left fa-lg"></i>
        </md-button>
    </div>

    <md-tabs md-dynamic-height md-center-tabs class="mar-t">
        <md-tab label="Details">
            <div layout="row" layout-align="space-around center">
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Date of Joining</md-subheader>
                    <span>{{$ctrl.employee.dateOfJoining | date: 'mediumDate'}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Cadre</md-subheader>
                    <span>{{$ctrl.employee.cadre}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Department</md-subheader>
                    <span>{{$ctrl.employee.deptName}}</span>
                </div>
            </div>
            <div layout="row" layout-align="space-around center" class="mar-t">
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Last login</md-subheader>
                    <span>{{$ctrl.employee.lastLogin | date: 'shortTime'}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Manager</md-subheader>
                    <span>{{$ctrl.employee.reportingTo}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Gender</md-subheader>
                    <span>{{$ctrl.employee.gender}}</span>
                </div>
            </div>
            <div layout="row" layout-align="space-around center" class="mar-t">
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Blood Group</md-subheader>
                    <span>{{$ctrl.employee.bloodGroup}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Mobile No</md-subheader>
                    <span>{{$ctrl.employee.mobileNo}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Birth Date</md-subheader>
                    <span>{{$ctrl.employee.bdate | date: 'mediumDate'}}</span>
                </div>
            </div>

        </md-tab>
        <md-tab label="Timesheet" ng-if="$ctrl.view">
            <div id="timesheet-tab" md-whiteframe="5" style="border-radius:5px; background:#ffffff" layout="row"
                layout-align="space-around center" class="mar" layout-padding ng-repeat="item in $ctrl.timesheetList">
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Task Name</md-subheader>
                    <span>{{item.taskName}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Date</md-subheader>
                    <span>{{item.taskDate | date:'dd-MM-yyyy'}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Swipe In</md-subheader>
                    <span>{{item.swipeIn | date: 'shortTime'}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Swipe Out</md-subheader>
                    <span>{{item.swipeOut | date: 'shortTime'}}</span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-subheader>Status</md-subheader>
                    <span><i ng-if="item.isApproved===1" md-colors="{'color':'green'}" class="fas fa-check"></i>
                        <i ng-if="item.isApproved===null" md-colors="{'color': 'red'}" class="fas fa-times"></i></span>
                </div>
                <div layout="column" layout-align="space-around center">
                    <md-menu>
                        <md-button class="md-icon-button mar-lr" aria-label="action" style="position: absolute;right: 0;"
                            ng-click="$mdMenu.open()">
                            <md-tooltip md-direction="left">Action</md-tooltip>
                            <i class="fas fa-ellipsis-v"></i>
                        </md-button>

                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button md-colors="{color: 'green'}" ng-click="$ctrl.acceptTimesheet(item)">
                                    Accept
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="md-warn" ng-click="$ctrl.rejectTimesheet(item)">
                                    Reject
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-tab>
        <md-tab label="Payroll" ng-if="$ctrl.view">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
    </md-tabs>
</div>

<div ng-if="!$ctrl.employee.empId" style="text-align: center;position: relative;top: 50%; transform: translateY(-50%);font-weight:600; color:gray;">
    Please Click on Employee to get Details
</div>