<div class="timesheet-container">
    <div layout="row" layout-align="space-between" layout-padding>
        <calendar selected="day" add-task="$ctrl.addTask()"></calendar>

        <div id="timesheet-details" style="width:67%; border-radius: 5px;" md-whiteframe="5">
            <table style="width:100%">
                <thead>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Task Name</th>
                    <th>Swipe In</th>
                    <th>Swipe Out</th>
                    <th>Total Hours</th>
                </thead>
                <tbody>
                    <tr ng-repeat="task in $ctrl.taskList">
                        <td>
                            <span style="padding: 8px; background: cyan; border-radius: 5px; color: white;">{{$ctrl.dayNames[$index + 1]}}</span>
                        </td>
                        <td>{{task.taskDate | date: 'mediumDate'}}</td>
                        <td>{{task.taskName}}</td>
                        <td>{{task.swipeIn}}</td>
                        <td>{{task.swipeOut}}</td>
                        <td>09:45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin: 15px; max-width:500px; max-height: 350px; border-radius: 5px;" md-whiteframe="5" layout-padding>
        <canvas id="bar" class="chart chart-bar" chart-data="$ctrl.data" chart-labels="$ctrl.dayNames" chart-series="$ctrl.series">
        </canvas>
    </div>
</div>