<div class="timesheet-container">
    <div layout="row" layout-align="space-around center" layout-padding>
        <div style="height:200px" layout="column" layout-align="space-around space-between">
            <span style="color:#FFAB00">
                <i class="fas fa-square mar-r"></i>Pending</span>
            <span style="color:#4CAF50">
                <i class="fas fa-square mar-r"></i>Approved</span>
            <span style="color:#D50000">
                <i class="fas fa-square mar-r"></i>Rejected</span>
            <span style="color:#FF80AB">
                <i class="fas fa-square mar-r"></i>Not Filled</span>
        </div>
        <calendar md-whiteframe="10" style="padding:unset; border-radius:5px; background-color: #ffffff" selected="day"
            add-task="$ctrl.addTask()" end-date="endDate" start-date="startDate" get-timesheet-details="$ctrl.getTimesheetDetails()"></calendar>

        <div style="margin: 15px; width:400px; max-height: 350px; border-radius: 5px; background-color: #ffffff"
            md-whiteframe="5" layout-padding>
            <canvas id="bar" class="chart chart-bar" chart-data="$ctrl.data" chart-labels="$ctrl.dayNames" chart-series="$ctrl.series">
            </canvas>
        </div>

    </div>

    <div style="width:100%">
        <table style="width:100%" class="striped highlight centered">
            <thead>
                <th>Day</th>
                <th>Date</th>
                <th>Task Name</th>
                <th>Swipe In</th>
                <th>Swipe Out</th>
                <th>Total Hours</th>
            </thead>
            <tbody>
                <tr ng-repeat="task in $ctrl.taskList">
                    <td>
                        <span style="padding: 8px; background: cyan; border-radius: 5px; color: white;">{{task.taskDate
                            | date: 'EEE'}}</span>
                    </td>
                    <td>{{task.taskDate | date: 'mediumDate'}}</td>
                    <td>{{task.taskName}}</td>
                    <td>{{task.swipeIn | date: 'shortTime'}}</td>
                    <td>{{task.swipeOut | date: 'shortTime'}}</td>
                    <td>{{$ctrl.totalTime}} hours</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>